body{
	margin: 0;
	position: relative;
	background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}
*{
	font-family: "Poppins", sans-serif;
	color: #E4E6EB;
	text-decoration: none;
}
/*display registro*/
.display{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
	z-index: 100;
	overflow-y: auto;
}
/*logo*/
.contenedor-logo{
	display: flex;
	align-items: center;
	gap: 8px;
}
/*nav*/
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px 80px;
	box-sizing: border-box;
	width: 100%;
}
.boton-login{
	font-size: 14px;
}
.boton-login__boton{
	margin-left: 14px;
	color: #b2eeea;
	padding: 8px 12px;
	border: 1px solid #b2eeea;
	border-radius: 2rem;
	cursor: pointer;
}
/*Nueva contraseña*/
.solicitud-recuperacion,.nueva-contraseña{
	box-sizing: border-box;
	width: 22.25rem;
	padding: 2rem 2rem;
	background: #313131;
	border-radius: 8px;
}
.solicitud-recuperacion_titulo{
	text-align: center;
	margin: 0 0 13px 0;
}
.solicitud-recuperacion_text{
	font-size: 13px;
	margin: 0 0 13px 0;
}
.solicitud-recuperacion_labels,.solicitud-recuperacion_inputs,.nueva-contraseña__labels,.nueva-contraseña__inputs{
	box-sizing: border-box;
	display: block;
	width: 100%;
}
.solicitud-recuperacion_inputs,.nueva-contraseña__inputs{
	padding: 8px;
	font-size: 12px;
	border-radius: 4px;
	background: #4A4A4A;
	border: none;
	margin-bottom: .625rem;
}
.solicitud-recuperacion_labels,.nueva-contraseña__labels{
	font-size: 12px;
	margin-bottom: 0;
}
.solicitud-recuperacion_inputs:focus,.nueva-contraseña__inputs:focus{
	background: #4A4A4A;
	outline: none;
}
.input--submit{
	margin: 0;
	background-color: #7B17FF;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
	padding: 8px;
	transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}
.input--submit:focus{
	background: #7B17FF;
}
.input--submit:hover{
	background-color: #4C00A6;
	outline: none;
	border: none;
}
.nueva-contraseña__text{
	font-size: 13px;
	margin: 0 0 13px 0;
}
/*tarjeta-errores*/

.tarjeta-errores{
	position: absolute;
	right: 16px;
	bottom: 16px;
	background: var(--fondo-container);
	min-width: 400px;
	max-width: 500px;
	padding: 16px;
	border-radius: var(--border-container);
	border: 1px solid var(--border-color);
}

.tarjeta-errores__icon{
	position: absolute;
	top: -1.5rem;
	right: 1rem;
}

.icono-confirmacion{
	width: 48px;
	height: 48px;
}

.tarjeta-errores__text{
	margin: 0;
	font-size: 14px;
}